<a href="https://colab.research.google.com/github/SRINITHINREDDY/Indian_Food-Ananlysis/blob/main/Indian_food_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import plotly.express as px
from plotly.offline import init_notebook_mode
import matplotlib.pyplot as plt
%matplotlib inline
from wordcloud import WordCloud , ImageColorGenerator

In [ ]:
data = pd.read_csv("/content/indian_food.csv")

In [ ]:
data

               name  ...      region
0        Balu shahi  ...        East
1            Boondi  ...        West
2    Gajar ka halwa  ...       North
3            Ghevar  ...        West
4       Gulab jamun  ...        East
..              ...  ...         ...
250       Til Pitha  ...  North East
251         Bebinca  ...        West
252          Shufta  ...       North
253       Mawa Bati  ...     Central
254          Pinaca  ...        West

[255 rows x 9 columns]

In [ ]:
data.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [ ]:
data.columns

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            255 non-null    object
 1   ingredients     255 non-null    object
 2   diet            255 non-null    object
 3   prep_time       225 non-null    float64
 4   cook_time       227 non-null    float64
 5   flavor_profile  226 non-null    object
 6   course          255 non-null    object
 7   state           231 non-null    object
 8   region          241 non-null    object
dtypes: float64(2), object(7)
memory usage: 18.1+ KB

In [ ]:
data.isnull().any()

name              False
ingredients       False
diet              False
prep_time          True
cook_time          True
flavor_profile     True
course            False
state              True
region             True
dtype: bool

In [ ]:
data.isnull().sum()

name               0
ingredients        0
diet               0
prep_time         30
cook_time         28
flavor_profile    29
course             0
state             24
region            14
dtype: int64

In [ ]:
data=data.replace(-1,np.nan)
data=data.replace('-1',np.nan)
data.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [ ]:
data.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
dtype: int64

In [ ]:
sweet_data = data[data['flavor_profile']=='sweet']
final_sweet_data = sweet_data[sweet_data['course']!='dessert']
final_sweet_data

                   name  ... region
46       Obbattu holige  ...  South
85         Dal makhani   ...  North
243  Mishti Chholar Dal  ...   East

[3 rows x 9 columns]

In [ ]:
flav_data = data.flavor_profile.value_counts().reset_index()
flav_data.columns = ['flavor_profile', 'prep_time']
fig = px.bar(flav_data,x='flavor_profile',y='prep_time',title='variety of item according to the flavour',
color_discrete_sequence=['green'])
fig.show()